*{
    padding : 0;
    margin : 0;
}
body{
    background-color: lightgrey;
}
header{
    display: inline-block;
}

header h3{
    display: inline-block;
    font-size: 32px;
    background: linear-gradient(to right,#21769d,#767676);
    border-radius : 40%;
  font-family: monospace;
  overflow: hidden; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  white-space: nowrap;
  animation: 
    type 3s;
}

 @keyframes type {
    0%{
        width: 0ch;
    }
    100%{
        width: 30.5ch;
    }
  }
  #hub{
    float : right;
}

.container{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top : 200px;
    border-radius: 40%;
    
}

/* #stat h6 span {
    font: 20px Monaco, MonoSpace;
    height: 100px;
    width: 20px;
    position: absolute;
    transform-origin: bottom center;
    padding : 50px;
    margin-left : 50px;
    margin-top : -50px;
  }
.char2 {color:#081b32; transform: rotate(-90deg); }
.char3 { color:#081b32;transform: rotate(-70deg); }
.char4 { color:#081b32;transform: rotate(-50deg); }
.char5 { color:#081b32;transform: rotate(-30deg); }
.char6 {color:#081b32; transform: rotate(-10deg); }
.char7 {color:#767676; transform: rotate(10deg); }
.char8 { color:#767676;transform: rotate(30deg); }
.char9 { color:#767676;transform: rotate(70deg); }
.char10 { color:#767676;transform: rotate(90deg); }
.char11{color:#767676;transform : rotate(50deg);} */

#table h6 span{
    font: 20px Monaco, MonoSpace;
    height: 100px;
    width: 20px;
    position: absolute;
    transform-origin: bottom center;
    padding : 50px;
    margin-left : 70px;
    margin-top : -50px;
  }
  .char21 { color:#081b32; transform: rotate(-90deg); }
  .char32 { color:#081b32;transform: rotate(-70deg); }
  .char44 { color:#081b32;transform: rotate(-50deg); }
  .char55 { color:#081b32;transform: rotate(-30deg); }
  .char66 { transform: rotate(-10deg); }
  .char77 {color:#767676; transform: rotate(10deg); }
  .char88 { color:#767676;transform: rotate(30deg); }
  .char99 {color:#767676; transform: rotate(70deg); }
  .char1010 {color:#767676; transform: rotate(90deg); }
  .char1111 {color:#767676;transform : rotate(50deg);}

  /* #info h6 span{
    font: 20px Monaco, MonoSpace;
    height: 80px;
    width: 30px;
    position: absolute;
    transform-origin: bottom center;
    padding : 49px;
    margin-left : 40px;
    margin-top : -40px;
  }
  .char222 { color:#081b32; transform: rotate(-130deg); }
  .char333 { color:#081b32;transform: rotate(-145deg); }
  .char444 { color:#081b32;transform: rotate(-160deg); }
  .char555 {color:#081b32; transform: rotate(-175deg); }
  .char666 { color:#081b32;transform: rotate(-190deg); }
  .char777 { transform: rotate(-205deg); }
  .char888 {color:#767676; transform: rotate(-220deg); }
  .char999 { color:#767676;transform: rotate(-230deg); }
   */

  .container span{
    animation: 
    type1 3s;
}
@keyframes type1 {
    0%{
        width: 30ch;
    }
    100%{
        width : -1ch;
    }
  }

#stat{
    margin-right : 100px;
}
#info{
    margin-right : 100px;
}

#stat img{
    margin-top : 20px;
    width: 220px;
    height: 220px;
}
#table img{
    width: 256px;
    height: 256px;
}
#info img{
    margin-top : 20px;
    width: 220px;
    height: 220px;
}

.hyperInfo:hover img{
    transform: rotateX(40deg);

}
.hyperStat:hover img{
    transform: rotateX(40deg);

}
.hyperTable:hover img{
    transform: rotateX(40deg);

}

